<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">영화 등록</h1>
        <form th:action="@{/movie/register}" th:method="post">
            <div class="form-group">
                <label>영화 제목</label>
                <input type="text" class="form-control" name="title" placeholder="영화 제목을 입력하세요"/>
            </div>

          <div class="form-group fileForm">
            <label>영화 포스터 목록</label>
            <input type="file" class="custom-file-input files" id="fileInput" multiple="multiple"/>
            <label class="custom-file-label" data-browse="Browse"></label>
          </div>
          <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </th:block>
</th:block>